div.animation {
  background-color: #c7b9ff;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  svg {
    margin-top: 1rem;
    animation: fill 1s ease-in forwards 3.9s;
  }
}

#first {
  stroke-dasharray: 562px;
  stroke-dashoffset: 562px;
  animation: fadeInside 0.5s ease-in forwards;
}

#second {
  stroke-dasharray: 292px;
  stroke-dashoffset: 292px;
  animation: fadeInside 0.5s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 290px;
  stroke-dashoffset: 290px;
  animation: fadeInside 0.5s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 434px;
  stroke-dashoffset: 434px;
  animation: fadeInside 0.5s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 383px;
  stroke-dashoffset: 383px;
  animation: fadeInside 0.5s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 214px;
  stroke-dashoffset: 214px;
  animation: fadeInside 0.5s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 290px;
  stroke-dashoffset: 290px;
  animation: fadeInside 0.5s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 434px;
  stroke-dashoffset: 434px;
  animation: fadeInside 0.5s ease-in forwards 2.1s;
}

#ninth {
  stroke-dasharray: 494px;
  stroke-dashoffset: 494px;
  animation: fadeInside 0.5s ease-in forwards 2.4s;
}

#tenth {
  stroke-dasharray: 379px;
  stroke-dashoffset: 379px;
  animation: fadeInside 0.5s ease-in forwards 2.7s;
}

#eleventh {
  stroke-dasharray: 292px;
  stroke-dashoffset: 292px;
  animation: fadeInside 0.5s ease-in forwards 3s;
}

#twelfth {
  stroke-dasharray: 287px;
  stroke-dashoffset: 287px;
  animation: fadeInside 0.5s ease-in forwards 3.3s;
}

#thirteenth {
  stroke-dasharray: 290px;
  stroke-dashoffset: 290px;
  animation: fadeInside 0.5s ease-in forwards 3.6s;
}

#fourteenth {
  stroke-dasharray: 434px;
  stroke-dashoffset: 434px;
  animation: fadeInside 0.5s ease-in forwards 3.9s;
}

#fifteenth {
  stroke-dasharray: 1313px;
  stroke-dashoffset: 1313px;
  animation: fadeInside 0.5s ease-in forwards;
}

#sixteenth {
  stroke-dasharray: 1004px;
  stroke-dashoffset: 1004px;
  animation: fadeInside 0.5s ease-in forwards 0.65s;
}

#seventeenth {
  stroke-dasharray: 1018px;
  stroke-dashoffset: 1018px;
  animation: fadeInside 0.5s ease-in forwards 1.6s;
}

#eighteenth {
  stroke-dasharray: 1230px;
  stroke-dashoffset: 1230px;
  animation: fadeInside 0.5s ease-in forwards 1.95s;
}

#nineteenth {
  stroke-dasharray: 526px;
  stroke-dashoffset: 526px;
  animation: fadeInside 0.5s ease-in forwards 2.6s;
}

#twentieth {
  stroke-dasharray: 1125px;
  stroke-dashoffset: 1125px;
  animation: fadeInside 0.5s ease-in forwards 3.25s;
}

#twenty-first {
  stroke-dasharray: 1066px;
  stroke-dashoffset: 1066px;
  animation: fadeInside 0.5s ease-in forwards 3.9s;
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #7ebaff;
  }
}
