* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

body img.purple {
  position: absolute;
  top: -110px;
  right: 0;
  width: 45vw;
  height: 125vh;
  z-index: -1;
}

body div.circle {
  position: absolute;
  z-index: 2;
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  background-color: #c7b9ff;
  opacity: 0.4;
  left: -5vw;
  top: 60vh;
}

@media screen and (max-width: 800px) {
  body div.circle {
    width: 17vw;
    height: 17vw;
  }
}

@media screen and (max-width: 400px) {
  body div.circle {
    width: 30vw;
    height: 30vw;
    top: 95vh;
    left: -10vw;
  }
}

body header nav {
  width: 100%;
}

body header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header nav ul li {
  list-style-type: none;
}

body header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

body header nav ul li a.active:active {
  color: #7d5dff;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main section.left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  margin: 2rem;
}

body main section.left h1 {
  color: #7d5dff;
  padding: 1rem;
  font-size: 3.25rem;
}

body main section.left p {
  font-size: 1.5rem;
  padding: 1rem;
}

body main section.right {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

@media screen and (max-width: 800px) {
  body main section.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main section.right img.myPic {
  position: absolute;
  border-radius: 50%;
  right: 15vw;
  top: 15vh;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(164, 45, 201, 0.5)) contrast(100%);
          filter: drop-shadow(2px 2px 6px rgba(164, 45, 201, 0.5)) contrast(100%);
  -webkit-transform: translate(10%);
          transform: translate(10%);
  width: 20vw;
  height: 20vw;
}

@media screen and (max-width: 800px) {
  body main section.right img.myPic {
    width: 45vw;
    height: 45vw;
    -webkit-transform: none;
            transform: none;
    position: static;
  }
}

body main section.table {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

body main section.table table {
  border-collapse: collapse;
  margin: 3rem 3rem 0rem 3rem;
}

body main section.table table tr {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

body main section.table table tr td {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 1.25rem;
}

body main section.table table tr:hover {
  background-color: rgba(245, 210, 255, 0.692);
}

body main section.picture {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  padding: 2rem;
}

body main section.picture img {
  width: 28vw;
}

body main section.picture div.back {
  position: absolute;
  width: 29vw;
  height: 58vh;
  background-color: #c7b9ff;
  top: 15vh;
  left: 4vw;
  z-index: -1;
}

body main section.input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

body main section.input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 60vh;
  padding: 2rem;
}

body main section.input form div label {
  font-size: 1.25rem;
  margin-right: 1rem;
}

body main section.input form div input,
body main section.input form div textarea {
  width: 90%;
  background-color: #c7b9ffa9;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
}

body main section.input button {
  padding: 0.7rem 1.25rem;
  font-size: 1.25rem;
  background-color: #b8a6ff;
  border: none;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

body main div.line {
  width: 1.65px;
  height: 70vh;
  margin-top: 1.5rem;
  background-color: #a1a1a1;
}

body main div.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0 0 1rem;
}

body main div.contact section.content h2 {
  padding: 2rem;
  font-size: 1.25rem;
}

body footer {
  margin-left: 2rem;
}

@media screen and (max-width: 1100px) {
  body footer {
    margin: 1rem 0rem 0rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

body footer img {
  width: 5vw;
  height: 5vw;
  padding: 1rem;
}

@media screen and (max-width: 1100px) {
  body footer img {
    width: 10vw;
    height: 10vw;
  }
}

@media screen and (max-width: 500px) {
  body footer img {
    width: 15vw;
    height: 15vw;
  }
}

@media screen and (max-width: 1100px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
  }
  header nav ul li {
    padding: 1rem;
    border-bottom: 1px gray solid;
  }
  main section.picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section.picture img.sit {
    width: 55vw;
    border-radius: 60%;
  }
  main section.picture div.back {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */